node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/semik-serma/phidimservice.git
git push -u origin main