@import "tailwindcss";

@keyframes slideRight {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  8% {
    transform: translateX(0%);
    opacity: 1;
  }
  92% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

.animate-slide-right {
  animation: slideRight 10s ease-in-out infinite;
}
